@charset "utf-8";


/** 헤더 **/
header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
}

header .inner {
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 160px;
    z-index: 900;
}

header .logo img {
    width: 100%;
}

header .logo img.color {
    display: none;
}

header .ham-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 900;
}

header .ham-btn .bar {
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transition: 0.3s;
}

header .ham-btn .bar1 {
    transform: translate(0, -9px);
}

header .ham-btn .bar2 {
    left: unset;
    right: 0;
}

header .ham-btn .bar3 {
    transform: translate(0, 9px);
}

header .ham-btn.on .bar {
    background-color: var(--dark);
}

header .ham-btn.on .bar1 {
    transform: rotate(45deg);
}

header .ham-btn.on .bar2 {
    transform: scale(0);
}

header .ham-btn.on .bar3 {
    transform: rotate(-45deg);
}


.on header.fixed {
    background-color: transparent;
    border: none;
}

header.fixed {
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid var(--lightGrey);
}

header.fixed img.color {
    display: block;
}

header.fixed img.white {
    display: none;
}

header.fixed .ham-btn .bar {
    background-color: var(--dark);
}


header.color-change img.color {
    display: block;
}

header.color-change img.white {
    display: none;
}


.on header .menu {
    display: block;
}

header .menu {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#fff, #BFD8B8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    z-index: 100;
    padding: 10rem 0;
    box-sizing: border-box;
}

header .menu .gnb > ul {
    text-align: center;
}

header .menu .gnb > ul > li {
    overflow: hidden;
}

header .menu .gnb > ul > li:not(:last-child) {
    margin-bottom: 4rem;
}

header .menu .gnb > ul li > a {
    font-size: 3rem;
    font-weight: 800;
    color: #5e7157;
}

header .menu ._my {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu ._my li {
    display: flex;
    align-items: center;
}

header .menu ._my li:not(:last-child)::after {
    content: '';
    display: block;
    width: 1px;
    height: 10px;
    background-color: #5e7157;
    margin: 0 1.5rem;
}

header .menu ._my li .icon {
    display: none;
}

header .menu ._my li .txt {
    font-size: 1.3rem;
    color: #5e7157;
    font-weight: 500;
}



/** 메인 **/
.main-visual {
    height: 100vh;
    padding: 0;
    margin-bottom: 5rem;
}

.main-visual .vd {
    width: 100%;
    height: 100%;
}

.main-visual .vd::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
}

.main-visual .vd video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-visual .txt {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.main-visual .txt h2 {
    color: #fcf6ed;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.5px;
}

.main-visual .scrMotion {
    width: 25px;
    height: 48px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.main-visual .scrMotion span {
    width: 20px;
    height: 20px;
    animation: scr_active 1.5s infinite;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.main-visual .scrMotion span::before {
    content: '';
    display: block;
    width: 50%;
    height: 1px;
    background-color: #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 40%;
    left: 8%;
}

.main-visual .scrMotion span::after {
    content: '';
    display: block;
    width: 50%;
    height: 1px;
    background-color: #fff;
    transform: rotate(-45deg);
    position: absolute;
    top: 40%;
    right: 8%;
}

@keyframes scr_active {
    0% {
        top: 0;
        opacity: 1;
    }
    100% {
        top: 100%;
        opacity: 0;
    }
}



/** brand **/
.section-brand .content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 18vw;
}

.section-brand .cont {
    width: 100%;
}

.section-brand .cont img {
    width: 50%;
}

.section-brand .cont2 img {
    margin-left: auto;
}

.section-brand .cont .brand_txt {
    text-align: right;
    box-sizing: border-box;
    padding: 0 10px;
}

.section-brand .cont2 .brand_txt {
    text-align: left;
}

.section-brand .cont .brand_txt h3 {
    font-weight: 600;
    font-size: 2.6rem;
    margin-bottom: 1.2rem;
}

.section-brand .cont .brand_txt p {
    font-size: 1.5rem;
}

.section-brand .cont .brand_txt b {
    font-weight: 700;
}



/** product **/
.section-product {
    background-color: #f5f5f5;
}

.section-product .tag {
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.section-product .tag li {
    background-color: #fff;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 8px 15px;
    border: 1px solid var(--main-color);
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: var(--main-color);
}

.section-product .content {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-product .content .cont {
    width: 50%;
    box-sizing: border-box;
    padding: 2%;
}

.section-product .content .product_image {
    height: 150px;
    overflow: hidden;
    background-color: var(--lightGrey);
}

.section-product .content .product_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.section-product .content .product_image img:last-child {
    opacity: 0;
}

.section-product .content .product_txt {
    text-align: center;
    padding: 13px 15px;
    background-color: white;
    box-sizing: border-box;
}

.section-product .content .product_txt h3 {
    font-size: 1.5rem;
    letter-spacing: -0.3px;
}

.section-product .content .product_txt p {
    font-size: 1.3rem;
    line-height: 1.3;
    margin-top: 0.7rem;
}



/** special **/
.section-special .sec_title {
    text-align: left;
}

.section-special .content {
    margin-top: 2.8rem;
}

.section-special .content .special_txt {
    box-sizing: border-box;
    padding: 0 0 10px 10px;
    height: 300px;
}

.section-special .content .special_txt h3 {
    font-size: 2.3rem;
    line-height: 1.6;
}

.section-special .content .special_txt h3 > span {
    font-size: 1.7rem;
    color: #95a298;
    font-weight: 600;
}

.section-special .content .special_txt h3::after {
    content: '';
    display: block;
    width: 38px;
    height: 1px;
    background-color: #ababab;
    margin: 20px 0;
}

.section-special .content .special_txt p {
    font-size: 1.4rem;
    line-height: 1.7;
}

.section-special .content .special_txt b {
    font-weight: 600;
}

.section-special .content .special_txt .btn {
    text-align: center;
    display: block;
    width: 130px;
    height: 42px;
    border: 1px solid #4d6a45;
    margin-top: 26px;
}

.section-special .content .special_txt .btn span {
    display: inline-block;
    color: #4d6a45;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 3;
}

.section-special .content .special_txt .btn .backgroundHover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #4d6a45;
    z-index: -1;
}

.section-special .content .cont > img {
    border-radius: 20px;
}

.section-special .content .slick-custom-dots {
    margin: 28px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-special .content .slick-custom-dots > li {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
}

.section-special .content .slick-custom-dots > li button {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--lightGrey);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-indent: -9999px;
}

.section-special .content .slick-custom-dots > li.slick-active {
    border: 1px solid var(--main-color);
}

.section-special .content .slick-custom-dots > li.slick-active button {
    background-color: var(--main-color);
}



/** review **/
.section-review {
    background-color: #fafcfa;
}

.section-review .content .cont {
    box-sizing: border-box;
    margin: 0 0.8rem;
}

.section-review .content .thumb {
    height: 170px;
    border-radius: 1.2rem;
    overflow: hidden;
}

.section-review .content .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-review .content .txt {
    padding: 1.2rem 2px;
    box-sizing: border-box;
}

.section-review .content .txt p {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    height: 3.6rem;
    color: #575757;
}

.section-review .content .txt .name {
    margin-top: 1rem;
    color: var(--grey);
    font-size: 1.2rem;
}

.section-review .content .prd {
    display: block;
    border-top: 1px solid var(--title-color);
    padding-top: 1.2rem;
}

.section-review .content .prd > img {
    width: 30px;
    float: left;
    border-radius: 5px;
}

.section-review .content .prd > p {
    font-size: 1.2rem;
    line-height: 1.4;
    width: calc(100% - 30px);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
    padding-left: 8px;
    color: var(--title-color);
}



/** insta **/
.section-insta .sec_title b {
    margin-top: 1.2rem;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
}

.section-insta .content .cont {
    width: 130px;
    margin-right: 12px;
    border-radius: 8px;
    overflow: hidden;
}

.section-insta .progress_bar {
    height: 3px;
    background-color: var(--lightGrey);
    margin-top: 2rem;
    background-image: linear-gradient(to right, var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    background-size: 0 100%;
}



/** 푸터 **/
footer {
    padding: 40px 0;
    margin-top: 50px;
    border-top: 1px solid var(--grey);
}

footer .fnb {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

footer .fnb li {
    display: flex;
    align-items: center;
}

footer .fnb li:not(:last-child)::after {
    content: '';
    display: block;
    width: 1px;
    height: 10px;
    background-color: var(--dark);
    margin: 0 8px;
}

footer .fnb li a {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--dark);
}

footer .f_info p {
    font-size: 1.2rem;
    letter-spacing: 0;
}

footer .f_info .copyright {
    margin-top: 12px;
    color: #b0b0b0;
}

footer .sns {
    position: absolute;
    bottom: calc(100% - 20px);
    right: 0;
}

footer .sns img {
    width: 20px;
}



/** btn_wrap **/
.btn_wrap {
    width: 40px;
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 1;
}

.btn_wrap > button {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #efefef;
    box-sizing: border-box;
}

.btn_wrap .search_btn {
    margin-bottom: 10px;
}

.btn_wrap .search_btn span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-image: url('/merryplanet/img/search.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.btn_wrap .top_btn::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    transform: rotate(45deg);
    position: absolute;
    top: 40%;
    left: 28%;
}



@media screen and (min-width: 530px) {
    /** brand **/
    .section-brand .content {
        width: 90%;
        margin: 0 auto;
    }

    .section-brand .cont img {
        width: 40%;
        margin: 0;
    }

    .section-brand .cont {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    .section-brand .cont2 {
        flex-direction: row-reverse;
    }


    /** insta **/
    .section-insta .content .cont {
        width: 150px;
    }
}



@media screen and (min-width: 700px) {
    /** 헤더 **/
    header {
        height: 80px;
    }

    header .logo {
        width: 180px;
    }


    /** product **/
    .section-product .content .product_image {
        height: 240px;
    }

    .section-product .content .product_txt {
        padding: 18px 15px;
    }


    /** special **/
    .section-special .content .cont > img {
        width: 80%;
        margin: 0 auto;
    }


    /** review **/
    .section-review .content .cont {
        margin: 0 1rem;
    }


    /** 푸터 **/
    footer .sns {
        bottom: calc(100% - 25px);
    }
    
    footer .sns img {
        width: 25px;
    }
}



@media screen and (min-width: 900px) {
    /** brand **/
    .section-brand .cont .brand_txt {
        padding-bottom: 50px;
    }

    .section-brand .cont .brand_txt h3 {
        font-size: 50px;
        margin-bottom: 18px;
    }

    .section-brand .cont .brand_txt p {
        font-size: 18px;
    }


    /** product **/
    .section-product .content .cont {
        width: 23.5%;
        padding: 0;
    }

    .section-product .content .product_image {
        height: 200px;
    }

    .section-product .content .product_image img {
        transform: scale(1.2);
    }


    /** special **/
    .section-special .content .cont {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .section-special .content .special_txt {
        width: 45%;
        padding: 0 0 0 10px;
    }

    .section-special .content .cont > img {
        width: 55%;
    }

    .section-special .content .slick-custom-dots {
        justify-content: flex-start;
        margin: 0;
    }
}



@media screen and (min-width: 1024px) {
    /** 헤더 **/
    header .ham-btn:hover .bar {
        width: 80%;
    }

    header ._my {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        right: 80px;
        transform: translateY(-50%);
        z-index: 900;
    }

    header ._my li {
        display: block;
    }

    header ._my li:not(:last-child) {
        margin-right: 25px;
    }

    header ._my li .icon {
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    header ._my .mypage .icon {
        background-image: url('/merryplanet/img/user_white.png');
    }

    header ._my .order .icon {
        background-image: url('/merryplanet/img/order_white.png');
    }


    header.fixed ._my .mypage .icon,
    header.color-change ._my .mypage .icon {
        background-image: url('/merryplanet/img/user.png');
    }

    header.fixed ._my .order .icon,
    header.color-change ._my .order .icon {
        background-image: url('/merryplanet/img/order.png');
    }

    header .menu .gnb {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }

    header .menu .gnb > ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    header .menu .gnb > ul * {
        transition: 0.3s;
    }

    header .menu .gnb > ul > li {
        margin-bottom: 0 !important;
        transform: scale(1);
    }

    header .menu .gnb > ul > li:hover {
        transform: scale(1.1);
    }

    header .menu .gnb > ul > li::before {
        content: '';
        display: block;
        width: 0;
        height: 10px;
        background-color: #BFD8B8;
        position: absolute;
        bottom: 2px;
        left: 0;
        transition: 0.3s;
    }

    header .menu .gnb > ul > li:hover::before {
        width: 100%;
    }

    header .menu .gnb > ul > li > a {
        color: transparent;
        -webkit-text-stroke: 1px #5e7157;
        letter-spacing: 1px;
    }

    header .menu .gnb > ul li:hover > a {
        color: #5e7157;
    }


    /** brand **/
    .section-brand .content {
        column-gap: 20px;
        row-gap: 8rem;
    }

    .section-brand .content .cont {
        width: calc(50% - 10px);
        justify-content: flex-start;
    }

    .section-brand .content .cont2 {
        flex-direction: row;
    }

    .section-brand .cont img {
        width: 35%;
    }

    .section-brand .cont .brand_txt {
        padding: 0 0 0 2rem;
        text-align: left;
    }

    .section-brand .cont .brand_txt h3 {
        font-size: 2.8rem;
        margin-bottom: 1.2rem;
    }
    
    .section-brand .cont .brand_txt p {
        font-size: 1.4rem;
    }


    /** product **/
    .section-product .content .cont {
        transition: 0.4s;
    }

    .section-product .content .cont:hover {
        box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
        transform: translateY(-10px);
    }

    .section-product .content .product_image img {
        transform: scale(1);
        transition: 0.4s;
    }

    .section-product .content .cont:hover .product_image img:first-child {
        opacity: 0;
    }

    .section-product .content .cont:hover .product_image img:last-child {
        opacity: 1;
        transform: scale(1.2);
    }

    .section-product .content .product_txt h3 {
        font-size: 1.7rem;
    }


    /** special **/
    .section-special .content .slick-dots {
        margin: 10px 0 0;
        justify-content: flex-start;
    }

    .section-special .content .slick-custom-dots > li {
        width: 30px;
        height: 30px;
    }

    .section-special .content .slick-custom-dots > li button {
        width: 8px;
        height: 8px;
    }


    /** insta **/
    .section-insta .content .cont {
        width: 180px;
    }

    .section-insta .progress_bar {
        margin-top: 2.5rem;
    }
}



@media screen and (min-width: 1200px) {
    /** header **/
    .menu .gnb > ul > li > a {
        font-size: 3.5rem;
    }


    /** brand **/
    .section-brand .cont img {
        width: 40%;
    }

    .section-brand .cont .brand_txt {
        padding: 0 0 0 3rem;
    }

    .section-brand .cont .brand_txt p {
        line-height: 1.5;
        font-size: 1.5rem;
    }


    /** product **/
    .section-product .content .product_image {
        height: 240px;
    }


    /** special **/
    .section-special .content .special_txt {
        height: 350px;
    }

    .section-special .content .special_txt h3 {
        font-size: 2.8rem;
    }

    .section-special .content .special_txt h3 > span {
        font-size: 1.8rem;
    }

    .section-special .content .special_txt h3::after {
        margin: 30px 0;
    }

    .section-special .content .special_txt p {
        font-size: 1.6rem;
    }

    .section-special .content .special_txt .btn {
        margin-top: 40px;
        width: 150px;
        height: 50px;
    }

    .section-special .content .special_txt .btn span {
        line-height: 3.5;
    }


    /** review **/
    .section-review .content .cont {
        margin: 0 1.5rem;
    }

    .section-review .content .thumb {
        height: 200px;
    }

    .section-review .content .txt {
        padding: 1.6rem 2px;
    }

    .section-review .content .prd {
        padding-top: 1.6rem;
    }
}